@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply p-3 rounded-lg outline-none text-black;
  }

  textarea {
    @apply p-3 rounded-lg outline-none text-black h-32 resize-none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

* {
  scroll-behavior: smooth;
}

@layer components {
  .banner-web {
    background-repeat: no-repeat;
    background-image: url("/banner.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .banner-web2 {
    background-repeat: no-repeat;
    background-image: url("/banner2.jpg");
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 50rem;
    padding: 2rem 1rem;
    margin: 0 auto;
  }

  .especialistas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .swiper_container {
    height: auto;
    padding: 1rem 0;
    position: relative;
  }

  .line {
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
  }

  .icon {
    @apply h-4 w-4 bg-[#33383b] rounded-full;
  }

  .social-media {
    @apply cursor-pointer w-5 h-5 sm:w-6 sm:h-6;
  }

  @media only screen and (max-width: 768px) {
    .container {
      max-width: 42rem;
      padding: 2rem 1rem;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 650px) {
    .container {
      max-width: 34rem;
      padding: 2rem 1rem;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .container {
      max-width: 24rem;
      padding: 2rem 1rem;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 550px) {
    .container {
      max-width: 22rem;
      padding: 2rem 1rem;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 359px) {
    .container {
      max-width: 16rem;
      padding: 2rem 1rem;
      margin: 0 auto;
    }
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../public/poppins.ttf");
}
